@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: #161922;
}

@layer base {
    body {
        @apply bg-gray-800 text-gray-50;
    }

    a {
        @apply text-blue-500 dark:text-blue-400;
    }
}

@layer components {
    .card {
        @apply border bg-gray-700 border-gray-600 shadow rounded-lg p-4 mb-2;
    }

    .pill {
        @apply px-2 py-1 inline-flex text-xs leading-5 font-semibold rounded-full;
    }

    .histogram {
        @apply h-6 w-full mx-auto;
    }

    .hitbox {
        align-items: flex-end;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 1px;
        border-radius: 3.75px;
    }

    .bar {
        @apply bg-gray-600;
        padding-bottom: 1px;
        height: 100%;
        width: 85%;
        border-radius: 100px;
    }

    .bar.green {
        @apply bg-green-700;
    }

    .bar.red {
        @apply bg-red-700;
    }

    .bar.yellow {
        @apply bg-yellow-700;
    }

    .tooltip {
        @apply relative;
    }

    .tooltip .content {
        @apply invisible absolute z-50 inline-block;
        @apply rounded-lg py-1 px-2 bg-gray-800 shadow;
        @apply opacity-0 transition-all duration-200 scale-50;
    }

    .tooltip:hover .content {
        @apply visible opacity-100 scale-100;
    }
}

.splash {
    background-image: url("/splash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}